{% extends 'main_register/base.html' %}

{% block title %}
Login
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-5">
            <form method="POST" class="'form-group">
                {% csrf_token %}
                {{ form|crispy }}
                <p>Don't have an account? <a href="{% url 'user_register' %}">Register Here</a></p>
                <button type="submit" class="btn btn-success btn-sm">Login</button>
            </form>
        </div>
    </div>
{% endblock %}