{% extends 'main_register/base.html' %}
{% load static %}

{% block header %}
<link href="{% static 'main_register/css/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
{{ department.name }}
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<!-- List of Employees in Selected Department -->
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="d-flex align-items-center justify-content-between">
            <h4><a href="{% url 'department_page' company_id %}">
                {{ department.name }}
            </a></h4>
            <a href="{% url 'department_edit' department.id %}">
                <button class="btn btn-success btn-sm">
                    Edit
                    <i class="bi bi-pencil-square"></i>
                </button>
            </a>
        </div>
        <div class="list-group">
            {% for employee in employees %}
            <!-- Create a view of the employee information -->
            <li id="view-instance" class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ employee.first_name }} {{ employee.last_name }}</h5>
                    <small class="text-muted">Start Date: {{ employee.start_date }}</small>
                </div>
                <div class="mb-1 d-flex justify-content-between">
                    <div>
                        <small class="text-muted">Phone: </small>
                        {{ employee.phone_number }}
                    </div>
                    {% if employee.is_supervisor == True %}
                        <div>
                            <small class="text-muted">
                                Is Supervisor: 
                                <i class="bi bi-check2-circle"></i>
                            </small>
                        </div>
                    {% endif %}
                </div>
                <p class="mb-1">
                    <small class="text-muted">Email: </small>
                    {{ employee.email }}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">{{ employee.title }}</small>  
                    <a href="{% url 'employee_edit' employee.id %}">
                        <button type="submit" id="edit" name="edit" value="{{ employee.id }}" class="btn btn-sm btn-success">
                            Edit <i class="bi bi-pencil-square"></i>
                        </button>
                    </a>
                </div>
            </li>
            
            {% endfor %}
            <button type="button" id="new" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Add New
                <i class="bi bi-plus"></i>
            </button>

            <li class="list-group-item" id="new_form" style="display:none;">
                <form action="{{employee.id}}" method="POST">
                    {% csrf_token %}
                    {{ employee_form|crispy }}
                    <button type="submit" name="submit" class="btn btn-success btn-sm">Submit</button>
                </form>
            </li>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<script src="{% static 'main_register/form_script.js' %}" defer></script>
<script src="{% static 'main_register/date_script.js' %}" defer></script>


{% endblock %}