{% extends 'main_register/base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-auto">
        <!-- Personal User Information -->
        <h5>My Information</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ user.first_name }} {{ user.last_name }}</li>
            <li class="list-group-item">{{ user.email }}</li>
            <li class="list-group-item">{{ user.user_name }}</li>
            <a href="{% url 'change_password' %}" class="list-group-item list-group-item-action">Change Password</a>
          </ul>
    </div>
    <div class="col-md-4">
        <!-- List of Companies Managed -->
        <h5>My Companies</h5>
        <div class="list-group">
        {% for company in companies %}
            <a href="{% url 'department_page' company.id %}" id="view-instance" class="list-group-item list-group-item-action">
                <div class="d-flex justify-content-between align-items-center">
                {{ company.name }}
                <small class="text-muted">
                    {{ company.departments.count }} 
                    {% if company.departments.count == 1 %}
                    Department
                    {% else %}
                    Departments
                    {% endif %}
                </small>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">{{ company.industry }}</small>  
                </div>
            </a>
        {% endfor %}
            <button type="button" id="new" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Add New
                <i class="bi bi-plus"></i>
            </button>
            <li class="list-group-item" id="new_form" style="display:none;">
                <form action="{% url 'user_home' %}" method="POST">
                    {% csrf_token %}
                    {{ company_form|crispy }}
                    <button type="submit" name="submit" class="btn btn-success btn-sm">Submit</button>
                </form>
            </li>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<script src="{% static 'main_register/form_script.js' %}" defer></script>
{% endblock %}